*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body{
	font-family: 'Century Gothic',sans-serif;
	background:white;
}


.ImagenPrincipal{
	
	width: 100%;
	height: 700px;
	background: url(https://th.bing.com/th/id/OIP.r6qg8Tk6nfSVFpvB8oMVwwHaEo?pid=ImgDet&rs=1) no-repeat center center/cover;
	margin-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
	display: flex;
	flex-direction: column;
	align-intems: center;
	justify-content: flex-end;
	color: white
}

header{
	width: 100%;
	padding: 40px;
	color: white;
	text-align: center;
	background: black;
}

nav ul{
	list-style: none;
	background: black;
	text-align: center;
}

nav ul li{
	display: inline-block;
	padding: 20px
    
}
ul li a{
	color: white;
	text-decoration: none;
}
nav ul li:hover{
	background:red; 
}
.Oculto{
	font-size: 20px;
	padding: 16px;
	background:  deepskyblue;
	color: white;
	cursor:pointer;
	display: none
}
/*diseño de la web responsive*/
@media (max-width: 700px){
	ul li{
		width: 100%;
		padding: 15px;
		text-align: left;
	}
	nav ul{
		display: none;
	}
	.Oculto{
		display: block;
	}
}

.correo{
	width: 100%;
	padding: 15px;
	text-align: left;
}

.numero{
	width: 100%;
	padding: 15px;
	text-align: left;
	text-decoration: none;
}

.redes{
	width: 100%;
	padding: 15px;
	text-decoration: none;
	text-align: left;
}

.ista{
	width: 100%;
	padding: 15px;
	text-decoration: none;
	text-align: left;
}

.direc{
	width: 100%;
	padding: 15px;
	text-decoration: none;
	text-align: left;
}